extends layout_amp

append styles
    .
        h2 {
            text-transform: uppercase;
            text-align: center;
        }
        h3 {
            padding: .8rem 1rem .5rem;
            margin-bottom: 0;
        }
        .banner {
            position: relative;
        }
        .banner .title {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 1rem .5rem;
            white-space: nowrap;
            text-align: center;
            color: white;
            background-color: rgba(0, 0, 0, .6);
        }
        .note {
            line-height: 1.7;
            text-align: justify;
        }
        .ft {
            text-align: center;
            letter-spacing: 1px;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        .mod {
            display: flex;
            line-height: 1.6;
            flex-direction: column;
            align-items: center;
        }
        .mod>.lead {
            max-width: 26rem;
        }
        .mod>.note {
            max-width: 30rem;
        }
        .section-item {
            padding: 1rem 0;
            border-radius: 2rem;
            overflow: hidden;
        }
        .lead {
            line-height: 1.8;
            font-size: 1.125rem;
        }
        .changes {
            height: 100%;
            padding: 1rem 0 0 1.5rem;
            list-style: disc;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .change {
            margin-bottom: .8rem;
        }
        .change-name {
            font-size: 1.1rem;
            font-weight: bold;
        }
        .attrs {
            list-style: circle;
        }
        .attr, .attr-bef, .attr-aft {
            display: inline-block;
            font-size: 1rem;
        }
        .attr {
            padding-right: .6rem;
            font-size: .9rem;
        }
        .attr::after {
            display: inline-block;
            font-weight: bold;
            content: ':';
        }
        .attr-bef {
            font-style: oblique;
        }
        .attr-bef + .attr-aft::before {
            display: inline-block;
            content: '⟹';
            padding: 0 .5rem;
            color: black;
        }
        .refs {
            list-style: cjk-ideographic inside;

        }
        .ref {
            padding: .5rem 1rem;
            margin: .5rem auto;
        }
        .ref-link {
            
        }
        .fixes {
            padding-left: 1rem;
            list-style: square inside;
            display: flex;
            justify-content: space-evenly;
            flex-flow: row wrap;
        }
        .fixe {
            margin-top: 1rem;
            max-width: 32rem;
            padding-right: 1rem;
        }

block content
    article
        header
            .banner
                amp-img(src=banner width="16" height="9" layout="responsive")
                amp-fit-text.title(layout="fixed-height" width="auto" height="70" min-font-size="16" max-font-size="36")= patch.title
        section.container.p-3
            amp-fit-text.note(layout="fixed-height" height="320" width="auto" min-font-size="18" max-font-size="24")= patch.note
        section.container.p-4
            amp-fit-text.ft(layout="fixed-height" height="140" width="auto" min-font-size="18" max-font-size="24")= patch.ft.mod
        
        if patch.champs.length > 0
            section.container.p-3
                h2 Campeões
                each c in patch.champs
                    .section-item
                        .row.row-cols-1.row-cols-md-2
                            .col
                                .row.flex-column.align-items-center
                                    amp-img(src='/images/champs/'+c.img width="4rem" height="4rem" layout="fixed")
                                    h3.champ-name= c.campeao
                                .mod
                                    p.lead= c.mod
                                    p.note= c.nota
                            .col
                                ul.changes
                                    if c.habilidades
                                        each h in c.habilidades
                                            li.change
                                                if h.nome
                                                    .change-name= h.nome
                                                ul.attrs
                                                    each a in h.atributos
                                                        li
                                                            .attr= a.atributo
                                                            if a.antes
                                                                .attr-bef= a.antes
                                                            .attr-aft= a.depois
                                    else if c.links
                                        li.change
                                            ul.refs
                                                each r in c.links
                                                    li.ref
                                                        a.ref-link(href=r.link target="_blank")= r.item
                                    else if c.efeitos
                                        each e in c.efeitos
                                            li.change
                                                .change-name= e.atributo
                                                .attr-aft= e.agora
        
        if patch.runes.length > 0
            section.container-md.p-2
                h2 Runas
                each r in patch.runes
                    .section-item
                        .row.row-cols-1.row-cols-md-2
                            .col
                                .row.flex-column.align-items-center
                                    amp-img(src='/images/runes/'+r.img width="4rem" height="4rem" layout="fixed")
                                    h3= r.runa
                                .mod
                                    p.lead= r.mod
                                    p.note= r.nota
                            .col
                                ul.changes
                                    each a in r.alteracoes
                                        li.change
                                            .attr= a.atributo
                                            if a.antes
                                                .attr-bef= a.antes
                                            .attr-aft= a.depois

        if patch.fixes.length > 0
            section.p-3
                h2 Bug fixes
                ul.fixes
                    each f in patch.fixes
                        li.fixe= f.note